html {
  height: 100%;
}

body {
  background: linear-gradient(45deg, yellow, cyan);
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: 'Nunito', sans-serif;
}

h1 {
  text-align: center;
  font-size: 60px;
  font-weight: bold;

}

.data {
  display: block;
  text-align: center;
}

button {
  margin: 0 auto;
  display: block;
  background-color: white;
  color: black;
  border: 2px solid  grey;
  font-size: 20px;
  border-radius: 12px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

button:hover {
  background-color: #9eecd8;
}

footer {
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  padding: 1rem;
  text-align: center;
}
